body {
    margin: 0;
    background-color: #fff;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #585858;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
.header {
    width: 100%;
    height: 85px;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation */
.nav {
    font-size: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__list {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}
    
.nav__item {
    height: 100%;
}

.nav__link {
    display: block;
    padding: 31px 15px;
    color: #fff;
    text-decoration: none;
}

.nav__item.active {
    background-color: #004AF2;
}

/* Intro */
.intro {
    height: 600px;
    background: #000 url(../images/intro_bg.jpg) no-repeat center / cover;
    /* background-size: cover; */
}

.intro__inner {
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.intro__text {
    margin-bottom: 45px;
    text-align: right;
}

.intro__countries {
    font-size: 15px;
    color: #fff;
}

.intro__title {
    font-family: 'Lato', sans-serif;
    font-size: 110px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    line-height: 100px;
    position: relative;
}

.intro__title-amp {
    font-size: 170px;
    line-height: 1;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* Request form */
.request-form {
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    background-color: #004AF2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.request-form--intro {
    position: relative;
    bottom: -30px;
}

.request-form__header {
    background-color: #033FC9;
    padding: 20px 30px;
}

.request-form__title {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}

.request-form__text {
    font-size: 15px;
    color: #fff;
    line-height: 1.4;
}

.request-form__content {
    padding: 30px;
}

/* Form */
.form {

}

.form__group {
    margin-bottom: 25px;
}

.input {
    display: block;
    width: 100%;
    padding-bottom: 12px;
    padding-left: 50px;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    transition: border-bottom-color .2s linear;
    -webkit-transition: border-bottom-color .2s linear;
    -moz-transition: border-bottom-color .2s linear;
    -ms-transition: border-bottom-color .2s linear;
    -o-transition: border-bottom-color .2s linear;
}

.input::placeholder {
    color: #fff;
}

.input:focus {
    outline: none;
    border-bottom-color: #fff;
}

.input--user {
    background: url(../images/form-user-icon.svg) left 15px top 5px no-repeat;
}

.input--tel {
    background: url(../images/form-tel-icon.svg) left 15px top 5px no-repeat;
}

.input--mail {
    background: url(../images/form-email-icon.svg) left 15px top 8px no-repeat;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 11px 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-align: center;
    background: #333;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--orange {
    background-image: linear-gradient(to right, #FF903E, #FF2C2C);
}